div.moon {
  width: 10px;
  height: 10px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 50%;
  margin: -5px auto;
}

div.earth {
  width: 20px;
  height: 20px;
  background-color: green;
  border: 1px solid green;
  border-radius: 50%;
  margin: -10px auto;
}

div.sun {
  width: 100px;
  height: 100px;
  background: radial-gradient(red, yellow);
  border-radius: 50%;
  margin: 200px auto;
}

div.moonOrbit {
  width: 100px;
  height: 100px;
  margin: -60px auto;
  border: 1px solid black;
  border-radius: 50%;
  animation-name: rotationEarth;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotationEarth{
  0% {left: 0; top: 0;}
  100% {transform: rotate(360deg);}
  /*100% {left: 0px; top: 0;}*/
}
 
div.earthOrbit {
  width: 500px;
  height: 500px;
  margin: 100px auto;
  border: 1px solid black;
  border-radius: 50%;
  animation-name: rotationEarth;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}
