h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-family: arial;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  color: white;
  padding-top: 350px;
  padding-bottom: 50px;
}

p {
  text-align: center;
  font-family: arial;
}

h3 {
  padding-top: 150px;
  font-family: arial;
  color: #0ABDB5;
}

span {
  color: white;
}

button {
  background-color: white;
}

#f {
  background-image: url(sprite.png);
  width: 55px;
  height: 55px;
  background-position: -641px -204px;
  border-radius: 50%;
}

#t {
  background-image: url(sprite.png);
  width: 55px;
  height: 55px;
  background-position: -233px -204px;
  border-radius: 50%;
}

#g {
  background-image: url(sprite.png);
  width: 55px;
  height: 55px;
  background-position: -165px -389px;
  border-radius: 50%;
}

[class*="col-"]{
  padding: 5px;
}

.container {
  margin: 50px auto;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 700px;
  background-image: url(main-bg.jpg);
  text-align: center;
}

.footer {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background-color: #434775;
}

#call {
  background-color: red;
  border-color: white;
  border-radius: 5px;
  width: 20%;
  height: 50px;
  font-size: 2em;
  color: white;
}