.container {
  width: 100%;
  margin: 10px auto;
}

.row::after{
  clear: both;
  display: block;
  content: "";
}

[class*="col"]{
  float: left;
  box-sizing: border-box;
  border: 1px solid;
  height: 50px;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#grey {
  background-color: grey;
}

#green {
  background-color: green;
}

@media all and (min-width: 1200px) {
  .col-lg-8 {height: 200px;}
  .col-lg-4 {height: 200px;}
}

@media all and (min-width: 992px) {
  .col-md-6 {height: 200px;}
}

.col-xs-1 { width: 8.33333333%;}
.col-xs-2 { width: 16.66666666%;}
.col-xs-3 { width: 25%;}
.col-xs-4 { width: 33.33333333%;}
.col-xs-5 { width: 41.66666666%;}
.col-xs-6 { width: 50%;}
.col-xs-7 { width: 58.33333333%;}
.col-xs-8 { width: 66.66666666%;}
.col-xs-9 { width: 75%;}
.col-xs-10 { width: 83.33333333%;}
.col-xs-11 { width: 91.66666666%;}
.col-xs-12 { width: 100%;}

@media all and (orientation: landscape) {
  .container {
    width: 100%;
  }
  .col-xs-1-l { width: 8.33333333%;}
  .col-xs-2-l { width: 16.66666666%;}
  .col-xs-3-l { width: 25%;}
  .col-xs-4-l { width: 33.33333333%;}
  .col-xs-5-l { width: 41.66666666%;}
  .col-xs-6-l { width: 50%;}
  .col-xs-7-l { width: 58.33333333%;}
  .col-xs-8-l { width: 66.66666666%;}
  .col-xs-9-l { width: 75%;}
  .col-xs-10-l { width: 83.33333333%;}
  .col-xs-11-l { width: 91.66666666%;}
  .col-xs-12-l { width: 100%;}
}


@media all and (min-width: 768px) {
  .container {
    width: 100%;
  }
.col-sm-1 { width: 8.33333333%;}
.col-sm-2 { width: 16.66666666%;}
.col-sm-3 { width: 25%;}
.col-sm-4 { width: 33.33333333%;}
.col-sm-5 { width: 41.66666666%;}
.col-sm-6 { width: 50%;}
.col-sm-7 { width: 58.33333333%;}
.col-sm-8 { width: 66.66666666%;}
.col-sm-9 { width: 75%;}
.col-sm-10 { width: 83.33333333%;}
.col-sm-11 { width: 91.66666666%;}
.col-sm-12 { width: 100%;}
}

@media all and (min-width: 992px) {
  .container {
    width: 100%;
  }
.col-md-1 { width: 8.33333333%;}
.col-md-2 { width: 16.66666666%;}
.col-md-3 { width: 25%;}
.col-md-4 { width: 33.33333333%;}
.col-md-5 { width: 41.66666666%;}
.col-md-6 { width: 50%;}
.col-md-7 { width: 58.33333333%;}
.col-md-8 { width: 66.66666666%;}
.col-md-9 { width: 75%;}
.col-md-10 { width: 83.33333333%;}
.col-md-11 { width: 91.66666666%;}
.col-md-12 { width: 100%;}
}

@media all and (min-width: 1200px) {
  .container {
    width: 100%;
  }
.col-lg-1 { width: 8.33333333%;}
.col-lg-2 { width: 16.66666666%;}
.col-lg-3 { width: 25%;}
.col-lg-4 { width: 33.33333333%;}
.col-lg-5 { width: 41.66666666%;}
.col-lg-6 { width: 50%;}
.col-lg-7 { width: 58.33333333%;}
.col-lg-8 { width: 66.66666666%;}
.col-lg-9 { width: 75%;}
.col-lg-10 { width: 83.33333333%;}
.col-lg-11 { width: 91.66666666%;}
.col-lg-12 { width: 100%;}
}