div {
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    box-sizing: border-box;

}

#main {
    background-color: #fafafa;
    margin: 0px auto;
    width: 75%;
    box-sizing: border-box;
}

#content {
    background-color: #eee;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

h1 {
	text-align: center;
	color: blue;
}