.field {
    background: orange;
}

.field::after {
    clear: both;
    content: "";
    display: block;
}

.block {
    float: left;
    border: 1px solid;
    box-sizing: border-box;
    background-image: url("sprite.png");
}

.block_0 {
    background-position: 0 0;
}
.block_1 {
    background-position: -80px 0;
}
.block_2 {
    background-position: -160px 0;
}
.block_3 {
    background-position: -240px 0;
}
.block_4 {
    background-position: -320px 0;
}

.block_5 {
    background-position: 0 -80px;
}
.block_6 {
    background-position: -80px -80px;
}
.block_7 {
    background-position: -160px -80px;
}
.block_8 {
    background-position: -240px -80px;
}
.block_9 {
    background-position: -320px -80px;
}
.block_10 {
    background-position: 0 -160px;
}

.block_flagged {
    background-position: -80px -160px;
}