.body {
  background-image: url(clockface.png);
  height: 800px;
  width: 800px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

#h {
  background-image: url(clockhands.png);
  width: 77px;
  height: 388px;
  background-position: -60px -110px; 
  position: absolute;
  top: 200px;
  left: 362px;
  animation-name: clock;
  animation-duration: 216000s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#m {
  background-image: url(clockhands.png);
  width: 40px;
  height: 568px;
  background-position: -148px -20px;
  position: absolute;
  top: 110px;
  left: 380px;
  animation-name: clock;
  animation-duration: 3600s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#s {
  background-image: url(clockhands.png);
  width: 30px;
  height: 582px;
  background-position: -210px -14px;
  position: absolute;
  top: 102px;
  left: 385px;
  animation-name: clock;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes clock{
  0% {left: -102; top: -385;}
  100% {transform: rotate(360deg);}
  /*100% {left: 0px; top: 0;}*/
}