body {
	font: 1em Arial, sans-serif;
}
table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	width: 100%;
}

td {
	border: 1px solid #ccc;
	background: #f9f9f9;
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

img {
	border: 0px solid green;
}

td img {
	height: 150px;
}

caption {
	caption-side: top;
	font-style: italic;
	font-size: 1em;
}

.block1 {
	border: 1px solid #000;	
	width: 50%;
}

input, select {
	margin: 5px;
	font-size: 1em;
	border: 1px solid black;
}

form div {
	margin: 10px;
	border: 1px solid #000;	
	background: #f9f9f9;
	padding: 5px;
}

#winners {
	text-align: center;
}

#inputFile {
	border: 0px;
}

td {
	background-color: #edf5f7;
	padding: 10px;
	border: 10px solid white;
	box-sizing: border-box;	
}