.jumbotron {
  background-color: green;
  color: white;
  padding: 150px;
}

.icon-style {
  font-size: 300px;
  color: green;
}

.row.bg-grey {
  background-color: #cecece;
}

.footer {
  background-color: green;
  margin-top: 20px;
  color: white;
}